@media screen and (min-width: 768px) {
    section.noticias{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    
    #container{
        width: 650px;
        margin: auto;
    }

    #img1{
        width: 100%;
        height: 400px;
        border-radius: 7px;
    }

    ul{
        width: 90%;
        margin: auto;
    }

    button{
        width: 280px;
    }

    #pesq{
        width: 280px;
    }


    article{
        width: 350px;
        height: 400px;
        border-radius: 7px;
        margin-top: 40px;
        background-color: #f4edede4;
        margin: 15px;
       
        
        
    }

    article img{
        width: 100%;
        height: 170px;
        border-radius: 7px 7px 0px 0px; 
    }


    .contato h2{
        margin-left: 10px;
    }

    .contato{
        width: 100vw;
    }

    form{
        margin: auto;
    }

    .cont{
        width: 280px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 40px;
    }
   
    
}

@media  screen and (min-width: 912px) {

    main{
        margin-top: 5px;
    }

    
    #container{
        width: 800px;
        margin: auto;
    }

    #img1{
        width: 100%;
        height: 400px;
        border-radius: 7px;
    }

    ul{
        width: 90%;
    }

    button{
        width: 280px;
    }

    section.noticias{
        width: 83vw;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }

    article{
        width: 280px;
        height: 400px;
        border-radius: 7px;
        margin-top: 40px;
        background-color: #f4edede4;
        margin: 15px;
                
    }

    form{
        margin: auto;
        width: 50vw;
    
    }

    .contato h2{
        margin: auto;
        margin-left: 10px;
    }

    input{
        width: 700px;
      
    }

    textarea{
     width: 700px;
    }

    .cont{
        width: 280px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 40px;
    }
    
}

@media  screen and (min-width: 1080px){

    section.noticias{
        width: 83vw;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    button{
        width: 200px;
    }

    #pesq{
        width: 200px;
    }

    header img{
        width: 350px;
    }

    #container{
        width: 1000px;
        margin: auto;
    }

    #img1{
        width: 100%;
        height: 400px;
        border-radius: 7px;
    }

    ul{
        width: 90%;
    }

    #rec{
        font-family: "Roboto Slab", serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal; 
        padding-left: 160px;
        margin-top: 120px;
        margin-bottom: 80px;
    }

    article{
        width: 380px;
        height: 400px;
        border-radius: 7px;
       
        background-color: #f4edede4;
        margin: 15px;   
      
        
        
    }

    article h2{
        padding-top: 10px;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 1.2em;
    }

    article p{
        font-family:  "Roboto Regular", "Roboto Medium", "Roboto Bold";
        font-size: 1.3em;
        font-weight: 500;
        
        padding-left: 10px;
        padding-bottom: 20px;
    }

    .contato{
        background-color: #d7d7dd32;
    }

    form{
        margin: auto;
        width: 50vw;
    
    }

    .contato h2{
        margin: auto;
        margin-left: 500px;
    }

    input{
        width: 700px;
      
    }

    textarea{
     width: 700px;
    }

    .cont{
        width: 500px;
        margin: auto;
        margin-top: 30px;
    }
}