@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #eaeaf0;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    height: 600px;
    background-color: #eaeaf0a9;
}

header img{
    width: 280px;
    height: 320px;
    background-color: #eaeaf0a9;
    margin-bottom: 10px;
}


header p#descricao{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1em;
    font-weight: 300;
    line-height: 23px;
    padding-left: 30px;
    padding-right: 30px;
}

h1{
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 1.5em;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

h2{
    color: #846AFF;
    margin-top: 10px;
}

.h2{
    margin-top: 20px;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: black;
}

span{
    color: #846AFF;
}

header p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 23px;
    padding-left: 30px;
    padding-right: 30px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  
}

#img1{
    width: 90%;
    height: 230px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.container {
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
h1, .h2 {
    text-align: center;
}

.h2{
    color: #846AFF;
}
p {
    line-height: 1.6;
    padding: 20px;
    font-family:  "Roboto Regular", "Roboto Medium", "Roboto Bold";
    font-size: 1.2em;
    font-weight: 500;
    padding-top: 7px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 5px;
}

ul{
    list-style: none;
    padding: 20px;
    font-family:  "Roboto Regular", "Roboto Medium", "Roboto Bold";
    font-size: 1.2em;
    font-weight: 500;
    padding-top: 7px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 5px;
    border-radius: 10px;
    width: 90vw;
    background-color: #d7d9dda9;
}

li{
    padding: 10px;
}

.contato{
    font-family:  "Roboto Regular", "Roboto Medium", "Roboto Bold";
    margin-top: 40px;
    padding-bottom: 40px;
    background-color: #d7d7dd30;

}

.contato h2{
    padding-top: 30px;
    margin-left: 10px;
}

form{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

input{
    border: 2px solid rgba(103, 96, 96, 0.163);
    width: 80%;
    margin-left: 0px;
    height: 45px;
    margin-top: 20px;
    padding: 20px;
}


textarea{
    width: 80%;
    height: 200px;
    margin-left: 0px;
    margin-top: 20px;
    padding-left: 20px;
    border: 2px solid rgba(103, 96, 96, 0.163);
}

.cont{
    background-color: #846AFF;
    color: #F8F8FF;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 0.9em;
    width: 80%;
    height: 45px;
    border: none;
    border-radius: 5px;
    margin: auto;
    display: block;
    margin-top: 20px;
  
    padding: 10px;
   
}

footer{
    background-color: #f4edede4;
    margin-bottom: 10px;
    height: 40px;
}

footer p{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 1em;
    padding-top: 10px;
    text-align: center;
}

a{
    text-decoration: none;
}

.highlight{
    width: 90%;
}

.highlight p{
    padding-left: 10px;
}